/*color = "X" fontcolor = "X"*/
.edge.pass > path {
	stroke: green;
}

.edge.pass > polygon {
	stroke: green;
	fill: green;
}

.edge.pass > text {
	fill: green;
}

.edge.fail > path {
	stroke: brown;
}

.edge.fail > polygon {
	stroke: brown;
	fill: brown;
}

.edge.fail > text {
	fill: brown;
}

.edge.skl > path {
	stroke: darkorange;
}

.edge.skl > polygon {
	stroke: darkorange;
	fill: darkorange;
}

.edge.skl > text {
	fill: darkorange;
}

.edge.req > path {
	stroke: blue;
}

.edge.req > polygon {
	stroke: blue;
	fill: blue;
}

.edge.req > text {
	fill: blue;
}

.edge.opt > path {
	/*cyan3*/
	stroke: #00cdcd;
}

.edge.opt > polygon {
	stroke: #00cdcd;
	fill: #00cdcd;
}

.edge.opt > text {
	fill: #00cdcd;
}

.edge.cbt > path {
	stroke: magenta;
}

.edge.cbt > polygon {
	stroke: magenta;
	fill: magenta;
}

.edge.cbt > text {
	fill: magenta;
}

.edge.dice > path {
	stroke: purple;
}

.edge.dice > polygon {
	stroke: purple;
	fill: purple;
}

.edge.dice > text {
	fill: purple;
}

.edge.pwd > path {
	stroke: grey;
}

.edge.pwd > polygon {
	stroke: grey;
	fill: grey;
}

.edge.pwd > text {
	fill: grey;
}

.edge.err > path {
	stroke: crimson;
}

.edge.err > polygon {
	stroke: crimson;
	fill: crimson;
}

.edge.err > text {
	fill: crimson;
}

.node.opt > polygon {
	stroke: #bbffff;
	fill: #bbffff;
}

.node.optp > polygon {
	stroke: gold;
	stroke-width: 3;
	fill: #bbffff;
}

.node.bst > polygon {
	stroke: greenyellow;
	fill: greenyellow;
}

.node.bst > ellipse {
	stroke: greenyellow;
	fill: greenyellow;
}

.node.ddg > polygon {
	stroke: pink;
	fill: pink;
}

.node.ddg > ellipse {
	stroke: pink;
	fill: pink;
}

.node.ddt > polygon {
	stroke: red;
	fill: red;
}

.node.ddt > ellipse {
	stroke-width: 0;
	fill: red;
}

.node.ddt > polygon {
	stroke: red;
	fill: red;
}

.node.kky > text {
	fill: blue;
}

.node.kky > text {
	fill: blue;
}

.node.skl > text {
	fill: orange;
}

.node.pwd > text {
	fill: grey;
}

.node.loss > text {
	fill: crimson;
}

.node.path polygon {
	stroke: gold;
	stroke-width: 3;
}

.node.path > ellipse {
	stroke: gold;
	stroke-width: 3;
}

.node.req > polygon {
	stroke: gold;
	fill: gold;
}

.node.req2 > polygon {
	/*gold2*/
	stroke: #eec900;
	fill: #eec900;
}
